.container {
    display: flex;
    justify-content: center;
    width: 65%;
    background-color:rgba(20, 22, 26, 0.6) !important;
    border-radius: 4px;
    padding: 50px 60px;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      width: 100%;
    }
  }